<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="styles/base2.css" />
<!-- 		<link rel="stylesheet" type="text/css" href="styles/jquery.tweet.css" /> -->
		<title>Twitter Earth</title>
	

		<div id="three"></div>
		<script charset="utf-8" src="scripts/jquery.js"></script>
		<script charset="utf-8" src="scripts/three.js"></script>
		<script charset="utf-8" src="scripts/skip.js"></script>
		<script charset="utf-8" src="scripts/database.js"></script>
		<script charset="utf-8" src="scripts/jquery.tweet.js"></script>
<!-- 		<script charset="utf-8" src="scripts/application.js"></script> -->
			<script charset="utf-8" src="scripts/tries.js"></script> 

</head>
		<!--  Load the Google Maps API library  -->
		<div id="header"><h1>Twitter Is For Lovers</h1></div>
<!-- 		<p>love tweets from around the world</p> -->
	
<!-- 			<div id="loveTwitter" class="tweet"> -->
		
<!-- 		</div> -->
		
<body>

	<div id="three">
	
<!-- 		<div id="container" class="tweet"> -->
		<canvas width="700" height="500"></canvas>
		
		</div>

<div id="three2">

<canvas width="400" height="400"></canvas></div>	
		
		<div id="query"></div>	
	
		<div id="query2"></div>
	</body>

		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	
</html>