


body
{
	margin: 0;
   	background-color: #000;    
	padding: 0;
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif; 
	font-size:   12px;
	line-height: 20px;
	overflow: hidden;
}



.loveFade
{
	font-family: "Comic Sans", sans-serif; 
	color: red;
	font-weight: bold;
}

#three
{
	position: absolute;
	top:  50%;
	left: 50%;
	margin: -300px 0 0 -300px;
	width:  400px;
	height: 400px;
/* 	background-color: black; */
}

#three2 {

float:right;
width: 310px;
height: 310px;
background-color: yellow;
}
#query{

width: 300px;
height: 400px;

}

#query2{
width: 600px;
height: 200px;
float: right;
/* color: black; */
left: 100px;

}

#container {
	position:absolute;
	left: 20px;
	width: 500px;
	height: 500px;
	color: white;
 	background-color:#0811FA;   

}



.tweet,
.query {
	font: 120% Georgia, serif;
	color: white;
}

	.tweet_list {
		-webkit-border-radius: 0.5em;
		-moz-border-radius: 0.5em;
		border-radius: 0.5em;
		list-style: none;
		margin: 0;
		padding: 0;
		overflow-y: hidden;
/* 		background-color: #8ADEE2; */
				background-color: #0000;

	}
	
		.tweet_list li {
			overflow-y: auto;
			overflow-x: hidden;
			padding: 0.5em;
			list-style-type: none;
	
		}
		
			.tweet_list li a {
				color: #0C717A;
			}
		
		.tweet_list .tweet_even {
/* 			background-color: #91E5E7; */
			background-color: #0000;
	}
		
		.tweet_list .tweet_avatar {
			padding-right: .5em; float: left;
		}
		
			.tweet_list .tweet_avatar img {
				vertical-align: middle;
			}
			
		.tweet_text{
		
		color: white;
		font-size: 9px;
		
		}