<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="../static/styles/base2.css" />
<!-- 		<link rel="stylesheet" type="text/css" href="styles/jquery.tweet.css" /> -->
		<title>Twitter Earth</title>
	
	
		<script charset="utf-8" src="../static/scripts/jquery.js"></script>
		<script charset="utf-8" src="../static/scripts/three.js"></script>
		<script charset="utf-8" src="../static/scripts/skip.js"></script>
		<script charset="utf-8" src="../static/scripts/database.js"></script>
		<script charset="utf-8" src="../static/scripts/jquery.tweet.js"></script>
		<script charset="utf-8" src="../static/scripts/tries.js"></script> 
		 <script src="http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js"></script>


</head>


		
<body>

<!--
<video id="video" autoplay loop style="display:none" >
		<source src="../static/media/song.mp4"></video>
-->
		
<div id="query"></div>
<div id="three"></div>
<div id="stars"></div>	
<!-- <div id="query2"></div> -->

		
				<!--  Load the Google Maps API library  -->
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	</body>

	
</html>